@import 'src/styles.scss';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

.contact-container {
  background: var(--slate-white);
  color: var(--dark-charcoal);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  font-family: var(--font-family);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  max-width: 700px;
  height: 90vh; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}


.contact-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.contact-content {
  display: flex;
  justify-content: space-between;
  gap: 25px; 
  flex-wrap: wrap;
  padding-top: 10px;
  width: 100%;
}


.contact-form {
  flex: 1;
  min-width: 300px;
  max-width: 100%;
  background: var(--light-gray);
  padding: 15px; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  box-sizing: border-box;
  overflow: hidden;
}

h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px; 
  color: var(--dark-charcoal);
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
}

label {
  font-weight: 600;
  margin-bottom: 6px;
  font-size: 16px;
}

input, textarea {
  width: 100%;
  max-width: 100%;
  padding: 10px; 
  border-radius: 8px;
  border: 1px solid var(--slate-gray);
  background: #f9f9f9;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}

input:focus, textarea:focus {
  border-color: var(--muted-plum);
  outline: none;
  box-shadow: 0 0 8px rgba(59, 50, 53, 0.3);
}

textarea {
  min-height: 100px; 
  resize: vertical;
}


.submit-btn {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  background: linear-gradient(135deg, var(--light-gray), var(--slate-gray));
  color: var(--dark-charcoal);
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.submit-btn:hover {
  background: linear-gradient(135deg, var(--slate-gray), var(--light-gray));
}


.contact-info {
  flex: 1;
  min-width: 300px;
  background: linear-gradient(135deg, var(--light-gray), var(--slate-gray));
  padding: 15px; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  height: auto;
}

.contact-info:hover {
  background: linear-gradient(135deg, var(--slate-gray), var(--light-gray));
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px; 
}

.icon {
  font-size: 20px;
  margin-right: 8px; 
  color: var(--muted-plum);
}

a {
  text-decoration: none;
  color: var(--dark-charcoal);
  font-weight: 600;
}

a:hover {
  color: var(--muted-plum);
}


@media (max-width: 768px) {
  .contact-content {
    flex-direction: column;
    gap: 15px;
  }

  .contact-container {
    height: auto;
    min-height: 90vh; 
    padding-bottom: 15px;
  }
}
