<nav>
    <ul>
      <!-- Link to About Me, only show on routes that aren't /profile -->
      <li><a routerLink="/about" routerLinkActive="active">About Me</a></li>
  
      <!-- Link to Skills & Tech Stack, only show on routes that aren't /profile -->
      <li><a routerLink="/skills" routerLinkActive="active">Skills & Tech Stack</a></li>
  
      <!-- Link to Work Experience, only show on routes that aren't /profile -->
      <li><a routerLink="/work" routerLinkActive="active">Work Experience</a></li>
  
      <!-- Link to Resume, only show on routes that aren't /profile -->
      <li><a routerLink="/resume" routerLinkActive="active">Resume</a></li>
  
    </ul>
  </nav>
  