<div class="tabs-container">
    <!-- Tab Buttons -->
    <div class="tabs-header">
      <button
        class="tab-button"
        *ngFor="let tab of ['Profile','Work Experience','Skills Tech Stack', 'Resume']; let i = index"
        [class.active]="i === activeTab"
        (click)="setActiveTab(i)">
        {{ tab }}
      </button>
    </div>
  
   <!-- Tab Indicator -->
   <div class="tab-indicator" [style.left]="activeTab * 25 + '%'" [style.width]="'25%'"></div>

  
    <!-- Tab Content -->
    <div class="tabs-content">
      <div class="tab-panel" *ngIf="activeTab === 0">
        <app-about-me></app-about-me>
      </div>
      <div class="tab-panel" *ngIf="activeTab === 1">
        <app-work-experience></app-work-experience>
      </div>
      <div class="tab-panel" *ngIf="activeTab === 2">
       <app-skills-tech-stack></app-skills-tech-stack>
      </div>
      <div class="tab-panel" *ngIf="activeTab === 3">
        <app-resume></app-resume>
        <button class="download-btn" (click)="downloadResume()">Download Resume</button>
      </div>
    </div>
  </div>
  