<div class="component-container">
  <div class="resume-container">
    <!-- Minimized Profile Picture -->
    <div class="profile-minimized">
      <img src="assets/Donkey_Kong.webp" alt="Profile Picture" />
    </div>

    <!-- Header Section -->
    <header class="resume-header">
      <h1>Howie Lynch</h1>
      <p>Senior Software Developer | Angular Enthusiast | Cloud Specialist</p>
      <p>Email: howielynch@gmail.com | Phone: +353 86 218 5243</p>
      <p>LinkedIn: linkedin.com/in/howielynch</p>
    </header>

    <!-- Skills Section -->
    <section class="resume-section">
      <h2>Skills</h2>
      <ul>
        <li *ngFor="let skill of skills">{{ skill }}</li>
      </ul>
    </section>

    <!-- Experience Section -->
    <section class="resume-section">
      <h2>Experience</h2>
      <div class="experience-item">
        <h3>Full Stack Developer</h3>
        <p>BMW Group, Munich, Germany | June 2022 – Present</p>
        <ul>
          <li>Collaborated on a significant project employing Angular and .NET, with containerization using Docker and orchestration via Kubernetes.</li>
          <li>Maintained high-quality code standards through rigorous unit and integration testing.</li>
          <li>Guided a team of 8 as a Scrum Master, conducting daily stand-ups, refining processes, and serving as the focal point in larger organizational meetings.</li>
          <li>Proficient in cloud computing services, specializing in Microsoft Azure for application management, optimization, and deployment.</li>
          <li>Steered team collaboration toward meeting business objectives and delivering successful outcomes.</li>
        </ul>
      </div>

      <div class="experience-item">
        <h3>Full-stack Developer Consultant</h3>
        <p>Bearing Point, Dublin, Ireland | June 2019 – June 2022</p>
        <ul>
          <li>Developed and enhanced user interfaces for autonomous vehicle management systems using Angular, focused on optimizing in-facility navigation capabilities.</li>
          <li>Conducted comprehensive testing of .NET back-end services, ensuring robust integration with vehicle management platforms via IoT solutions.</li>
          <li>Contributed to deployment strategies by incorporating Docker containerization, improving scalability and consistency across cloud-based infrastructures.</li>
          <li>Modernized legacy case management systems by integrating up-to-date technologies, including Angular for front-end and C# for back-end development, coupled with SQL Server for data management.</li>
        </ul>
      </div>

      <div class="experience-item">
        <h3>Intern</h3>
        <p>VHI Healthcare, Dublin, Ireland | January 2018 – September 2018</p>
        <ul>
          <li>Completed a work placement, providing an excellent learning opportunity.</li>
          <li>Enhanced comprehension of IT functions within a business context and learned essential elements for constructing and organizing IT projects.</li>
        </ul>
      </div>
    </section>

    <!-- Education Section -->
    <section class="resume-section">
      <h2>Education</h2>
      <div class="education-item">
        <h3>Bachelor of Science in Computer Science</h3>
        <p>Technology University of Dublin, Ireland | 2015 - 2019</p>
      </div>
    </section>
  </div>
  <button class="button" (click)="downloadResume()">Download Resume</button>
</div>
