.start-page {
  display: flex;
  flex-direction: column; /* Stack navigation and content vertically */
  min-height: 100vh; /* Ensure the page takes the full viewport height */
}

app-navigation {
  width: 100%; /* Full width */
  position: sticky; /* Sticky navigation bar */
  top: 0; /* Stick to the top */
  z-index: 10; /* Ensure it is above the content */
  background-color: #333; /* Dark background */
  padding: 10px 0; /* Padding for the navigation */
  margin-bottom: 15px; /* Space below navigation */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* Shadow for a floating effect */
}

.content-container {
  flex-grow: 1; /* Allow content to grow and take available space */
  padding: 20px; /* Padding for the content */
  margin-top: 20px; /* Space above content */

}



